.main-body {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}

.health-points {
  flex: 1 0;
}

/* tooltip */
.tooltip {
  position: fixed;
  display: none;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
}

/* id */
#chatbox-container {
  width: 25%;

  /* flexbox */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#chatbox {
  border: 1px solid grey;
  flex-grow: 1;
  height: 88vh;
  font-family:'Times New Roman', Times, serif;
  overflow: auto;
  overflow-y: scroll;

  /* flexbox */
  display: flex;
  flex-direction: column-reverse;
}

#fightscreen {
  width: 75%;
  height: 88vh;
  flex-grow: 3;

  /* flexbox */
  display: flex;
  flex-direction: column;
}

#boss-container {
  flex: 1 0;
  text-align: center;

  /* flexbox */
  display: flex;
}

#boss {
  flex: 2 0;
}

#player-container {
  flex: 1 0;
  text-align: center;

  /* flexbox */
  display: flex;
}

#player {
  flex: 2 0;
  height: 75%;
}

#abilities {
  height: 25%;
  
  /* flexbox */
  display: flex;
  justify-content: center;
  flex: 1 1;
}