.main-body {
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}

.health-points {
  flex: 1 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  top: 100%;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* health */
.health-bar {
  width: 300px;
  height: 100px;
  border: 2px solid #333;
  border-radius: 25px;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
}

.heart {
  width: 20px;
  height: 20px;
  background-image: url('pink-pixel.jpeg'); /* Add your heart image URL here */
  margin: 5px;
}

/* id */
#chatbox-container {
  width: 25%;

  /* flexbox */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#chatbox {
  border: 1px solid grey;
  flex-grow: 1;
  height: 88vh;
  font-family:'Times New Roman', Times, serif;
  overflow: auto;
  overflow-y: scroll;
  padding: 0 5px 0 5px;

  /* flexbox */
  display: flex;
  flex-direction: column-reverse;
}

#fightscreen {
  width: 75%;
  height: 88vh;
  flex-grow: 3;

  /* flexbox */
  display: flex;
  flex-direction: column;
}

#boss-container {
  flex: 1 0;
  text-align: center;

  /* flexbox */
  display: flex;
}

#boss {
  flex: 2 0;
}

#player-container {
  flex: 1 0;
  text-align: center;

  /* flexbox */
  display: flex;
}

#player {
  flex: 2 0;
  height: 75%;
}

#abilities {
  height: 25%;
  
  /* flexbox */
  display: flex;
  justify-content: center;
  flex: 1 1;
}